@mixin fonts {
  font-family: 'Roboto', sans-serif;
  font-size:20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.message_font_header{
  @include fonts;
  font-size:30px;
  font-weight: 500;
  margin-bottom: 30px;
}

.message_font_text{
  @include fonts;
}

.message_font_dialog{
  @include fonts;
  font-size:16px;
  margin-top: 50px;
  font-weight: 200;
}

.message_button_font{
  @include fonts;
  font-size: 16px;
  margin-bottom: 0;

}

.slider_page_font{
  @include fonts;
  font-size: 16px;
}

.message_font_subtext{
  @include fonts;
  font-size: 16px;
}

.header_font-text{
  @include fonts;
  font-size: 50px;
  font-weight: 900;
  font-style: italic;
  margin-bottom: 0;
}

.font_nav-menu_item{
  @include fonts;
  color: black;
  font-size: 20px;
  font-weight: 900;
  font-style: italic;
  margin: 0;
}