
@mixin border-light {
  
  border: 5px solid blue;
  border-radius: 50px;
  box-shadow: 0 0 20px blue,inset 0 0 100px blue;
  box-sizing: border-box;
}

header{
  padding: 20px;
  .header_container{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 100px;
    // .header_content{
    
    // }
  }

  .temporary-light {
    @include border-light;
  }
}

.footer_container{
  padding: 20px;
  .temporary-light{
    height: 100px;
    @include border-light;
  }
}

.main_container{
  display: flex;
  padding: 20px;
  min-height: 700px;

  .temporary-light{
    @include border-light;
  }
}

.main_container_variant-1{
  .nav_container{
    width: 300px;
    margin-right: 20px;
    border-radius: 50px;
    .nav_container_menu-block{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      

      .nav-menu_item{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 50px;
        min-width: 100px;
        max-width: 300px;
        padding:5px;
        margin: 20px;
        border: 1px solid black;
        border-radius: 25px;
        background-color: rgba(100, 100, 100, 0.0);
        box-shadow: 2px 2px 5px black;
        transition:0.2s;

      }
      .nav-menu_item:hover{
        background-color: rgba(255, 234, 0, 0.9);

        transform: translateY(-10px);
        box-shadow: 10px 10px 20px black, 5px 5px 5px black;
      }
      .nav-menu_item:active{
        background-color: rgba(255, 115, 0, 0.774);
        box-shadow: 2px 2px 5px black;
        transform: translateY(0px);
      }
    }
  }
  .article_container{
    width: 100%;
  }
}

.main_container_variant-2{
  flex-direction: column;
  .nav_container{
    min-height: 150px;
    margin-bottom: 20px;
    border-radius: 50px;
    .nav_container_menu-block{
      display: flex;
      justify-content: center;
      
      flex-wrap: wrap;
      align-items: center;
      padding: 20px;
      

      .nav-menu_item{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 50px;
        min-width: 100px;
        max-width: 300px;
        padding:5px;
        margin: 20px;
        border: 1px solid black;
        border-radius: 25px;
        background-color: rgba(100, 100, 100, 0.0);
        box-shadow: 2px 2px 5px black;
        transition:0.2s;

      }
      .nav-menu_item:hover{
        background-color: rgba(255, 234, 0, 0.9);

        transform: translateY(-10px);
        box-shadow: 10px 10px 20px black, 5px 5px 5px black;
      }
      .nav-menu_item:active{
        background-color: rgba(255, 115, 0, 0.774);
        box-shadow: 2px 2px 5px black;
        transform: translateY(0px);
      }
    }
  }
  .article_container{
    min-height: 700px-150px;
  }
}

.main_container_variant-3{
  flex-direction:row-reverse;
  .nav_container{
    width: 300px;
    margin-left: 20px;
    border-radius: 50px;
    .nav_container_menu-block{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      

      .nav-menu_item{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 50px;
        min-width: 100px;
        max-width: 300px;
        padding:5px;
        margin: 20px;
        border: 1px solid black;
        border-radius: 25px;
        background-color: rgba(100, 100, 100, 0.0);
        box-shadow: 2px 2px 5px black;
        transition:0.2s;

      }
      .nav-menu_item:hover{
        background-color: rgba(255, 234, 0, 0.9);

        transform: translateY(-10px);
        box-shadow: 10px 10px 20px black, 5px 5px 5px black;
      }
      .nav-menu_item:active{
        background-color: rgba(255, 115, 0, 0.774);
        box-shadow: 2px 2px 5px black;
        transform: translateY(0px);
      }
    }
  }
  .article_container{
    width: 100%;
  }
}