
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "fonts";
@import "_structure_page";


.body_container {
  // position: relative;
  background-color: #007F00;
  height: 700px;
  transition: 0.5s;
}


//message start

$message_width:400px;

.message_container{
  position: absolute;
  width: $message_width;
  box-sizing: border-box;
  left:50%;
  margin-left:-$message_width/2;
  margin-top:100px;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow:10px 10px 30px;
  

  .message_button_container{
    display: flex;
    justify-content: center;
    column-gap:50px;
    .message_button{
      background-color: rgba(0, 0, 0, 0.1);
      padding: 5px 10px;
      border: 1px solid black;
      box-shadow: 2px 2px 5px;
      transition: 0.2s;
    }
    .message_button:hover{
      background-color: rgba(0, 0, 0, 0.5);
    }
    .message_button:active{
      background-color: rgba(255, 115, 0, 0.774);
    }
  }

  //slider background
  .message_slider_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:($message_width)-40;
    margin-top: 50px;

    $slider_arrow_size:40px;

    .slider_arrow{
      height:  $slider_arrow_size;
      width:  $slider_arrow_size;
      padding: 5px;
    }

    .slider_arrow:hover{
      background-color: rgba($color: #000000, $alpha: 0.2);
      border-radius: 50%;
    }
    .slider_arrow:active{
      background-color: rgba(255, 115, 0, 0.774);
    }

    .arrow-prev img{
      height:  $slider_arrow_size;
      width:  $slider_arrow_size;
      
    }

    .arrow-next img{
      height:  $slider_arrow_size;
      width:  $slider_arrow_size;
      transform: rotate(180deg);
    }

    .slider_window{
      display: flex;
      justify-content: center;
      width: 260px;
      
      overflow: hidden; //hidden window
      margin:0 5px;
      border-radius: 10px;
      box-shadow:5px 5px 20px;

      
      .slider_images_container{
        position: relative;
        display: flex;
        transition: 2s;

        .slider_image{
          display: flex;
          justify-content: center;
          position: absolute;
          width:260px;
          transition: 0.5s;
          

          &:nth-child(1){
            left:-395px;
          }
          &:nth-child(2){
            left:-130px;
          }
          &:nth-child(3){
            left:135px;
          }
        }
      }
    }
  }   
  
  .slider_background{
    height: 165px;
    .slider_window{
      height: 162.5px;
    }
  }
  //slider change page structure
  .slider_page{
    height:300px;
    .slider_window{
      height: 300px;


      @mixin border-page {
        border: 1px solid blue;
        border-radius: 5px;
        box-shadow: 0 0 5px blue,inset 0 0 5px blue;

        background-color: red;
      }

      .slider_page_container{
        display: flex;
        flex-direction: column;

        width: 210px;
        height: 260px;
        margin-top: 20px;

        @include border-page;
        background-color:transparent;

        .page_header_container{
          height: 20px;
        
          margin: 5px;
          @include border-page;
        }

        .page_main_container{
          display: flex;
          height: 200px;
        }

        .page_main_container_variant-1{
          .page_main_nav-menu{
            width: 30px;
            margin: 5px;
            @include border-page;
            writing-mode: vertical-rl;
          }
          
          .page_main_content{
            width: 100%;
            margin: 5px;
            @include border-page;
          }
        }

        .page_main_container_variant-2{
          flex-direction: column;
          .page_main_nav-menu{
            height: 20px;
            margin: 5px;
            @include border-page;
          }
          
          .page_main_content{
            height: 100%;
            margin: 5px;
            @include border-page;
          }
        }

        .page_main_container_variant-3{
          flex-direction: row-reverse;
          .page_main_nav-menu{
            width: 30px;
            margin: 5px;
            @include border-page;
            writing-mode: vertical-rl;
          }
          
          .page_main_content{
            width: 100%;
            margin: 5px;
            @include border-page;
          }
        }

        .page_footer_container{
          height: 20px;
          margin: 5px;
          @include border-page;
        }
      }
    }
  }
  .message_form_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    .message_color-block{
      display: flex;
      justify-content: center;
      gap: 10px;
      flex-wrap: wrap;
      width: 310px;
      margin-bottom: 20px;
      // background-color: green;
  
      &>div{
        box-sizing: border-box;
        width: 30px;
        height: 30px;
        background-color: red;
        border: 2px solid black;
        border-radius: 15px;
        // box-shadow: 1px 1px 1px black,-1px -1px 1px black inset;
        transition: 0.1s;
      }
      &>div:hover{
        border: 1px solid black;
        box-shadow: 3px 3px 4px black inset;
      }
      &>div:active{
        border: 1px solid black;
        box-shadow: 6px 6px 5px black inset;
      }
      .message_color-block_aqua{
        background-color: rgb(000,255,255);
      }
      .message_color-block_black{
        background-color: rgb(000,000,000);
      }
      .message_color-block_blue{
        background-color: rgb(000,000,255);
      }
      .message_color-block_fuchsia{
        background-color: rgb(255,000,255);
      }
      .message_color-block_gray{
        background-color: rgb(128,128,128);
      }
      .message_color-block_green{
        background-color: rgb(000,128,000);
      }
      .message_color-block_lime{
        background-color: rgb(000,255,000);
      }
      .message_color-block_maroon{
        background-color: rgb(128,000,000);
      }
      .message_color-block_navy{
        background-color: rgb(000,000,128);
      }
      .message_color-block_olive{
        background-color: rgb(128,128,000);
      }
      .message_color-block_purple{
        background-color: rgb(128,000,128);
      }
      .message_color-block_red{
        background-color: rgb(255,000,000);
      }
      .message_color-block_silver{
        background-color: rgb(192,192,192);
      }
      .message_color-block_teal{
        background-color: rgb(000,128,128);
      }
      .message_color-block_white{
        background-color: rgb(255,255,255);
      }
      .message_color-block_yellow{
        background-color: rgb(255,255,000);
      }


    }

    .message_color_opacity{
      .message_color_opacity-range{
        width: 250px;
        margin-bottom: 20px;
      }
      .message_color_opacity_text-block{
        display: flex;
        align-items: center;
        .message_font_subtext{
          margin-right: 10px;
        }
        .message_color_opacity-range_text{
          width: 30px;
          border: 4px solid black;
          border-radius: 10px;
          transition: 0.2s;
          text-align: center;
  
        }
        .message_color_opacity-range_text:hover{
          border: 4px double black;
        }
        .message_color_opacity-range_text:focus{
          border: 4px double black;
          border-radius: 5px;
        }
      }

    }
  }


}